.hidden_menu{
	left:-720px;
}
#sandwich{
	opacity: 1;
}
#menu_selector img{
	opacity: 0;
	display: none;
}

:focus {

	outline: none;

}
.main_content{
	max-width: 1920px;
}

.cp_left_main_content{
	width: 365px;
	float: left
}
.cp_right_main_content{
	width: calc(100% - 366px);
	float: left;
	position: relative;
	border-left:1px solid #f1ecea;
	border-top:1px solid #f1ecea;

}
.catalog_list_wrapper{
	width: 365px;
	overflow-x: hidden;
	border-right: 1px solid #f1ecea;
}
.catalog_list{
	height: 700px;
	width:calc(100% + 17px);
	overflow-y: scroll;
}

.catalog_list ul
{
	margin:0 ;
	padding: 0;

}
.catalog_list>ul>li{
	list-style:none;
	margin:0;
	text-align: right;
	padding-right: 60px;
	line-height: 60px;
	cursor: pointer;
}
.catalog_list>ul>li>a{
	text-decoration: none;
	border-bottom: 1px dotted #b54e74;
	color: #b54e74;
	font: 20px/60px arial,sans-serif;
	font-family: 'Roboto Regular', arial
}
#points {
	margin-top: -30px;
}

.clearfix{
	clear: both;
}

.text_wrapper{
	padding:60px;
}
.text_wrapper h1{
	margin: 0;
	font-size: 30px;
	font-family: Roboto Light;
	text-transform: uppercase;
	color: #242424;
	font-weight: 200;
	margin-bottom: 50px;

}
.text_wrapper h2{
	font: italic  26px/26px arial,sans-serif;
	font-family: 'PT Serif', arial;
	font-weight: 200;
	margin: 0;
	color: #715254;
	margin-bottom: 15px;
}
.vawe1 {
	background: url(../../../images/eflora/vawe_line.png);
	background-repeat: no-repeat;
	height: 40px;
	margin-left:0px;

}
.text_wrapper img{
	float:left; /* Выравнивание по левому краю */
	margin-right: 15px;
}
.text_wrapper h3{
	margin:0;
	color: #242424;
	font-family: Roboto Regular;
	font-size: 18px;
	font-weight: 200;
}

.text_wrapper p{
	color: #686666;
	font-family: Roboto Light;
	font-size: 14px;
	line-height: 20px;
}
.text_wrapper h4{
	font-family: Roboto Regular;
	font-size: 18px;
	color: #242424;
	margin-top:60px;
	margin-bottom: 35px;
	font-weight: 200;
}
.text_wrapper ol{
	margin:0;
	padding:0;
	margin-left: 20px;

}

.text_wrapper>ol>li{
	color: #b54e74;
	font-size: 14px;
	font-family: Roboto Regular;
	margin-bottom: 25px;
}
.text_wrapper>ol>li>span{
	color: #686666;
	font-weight: 200;

}
table{
	display: block;
	border-collapse: collapse;
	max-width:1400px;

}

th{
	font-family: Roboto Regular;
	font-size: 15px;
	color: #686666;
	text-align: left;
	padding-right: 0px;
	min-width: 200px;
	line-height: 60px;
	border-bottom: 1px solid #a7a7a7;
}
td{
	line-height: 60px;
	border-bottom: 1px dotted #a7a7a7;
	color: #686666;
	font-size:15px;
	font-family: Roboto Light;

}
.table_wrapper{
	overflow-y: hidden;
	height: 395px;

}



.search_area {
	width: 100%;
	position: relative;
	max-width: 600px;
}
form input {
	margin-left: 70px;
	border-radius: 30px;
	border: 1px solid #dcdbdb;
	height: 40px;
	padding-left: 20px;
	margin-top: 60px;
	font: 18px/15px arial,sans-serif;
	font-family: 'Roboto Light', arial;
	width: 100%;
	max-width: 600px;
	background: url(../../../images/eflora/search_icon.png) no-repeat ;
	background-position: 98% 50%;
}


form input:focus,.select_theme:focus {
	border: 1px solid #dcdbdb;
	outline: none;
}
form input:focus{
	border:1px solid #ff8b4e;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);

}
.go_find{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 890px;
	bottom:13px;
	opacity:0;
	cursor: pointer;
	background-color: transparent;
}

form {
	display: block;
	position: relative;
}

.action{
	display: inline-block;
	margin-top:45px;
}
.text_action a {
	color: #242424;
	 text-decoration: none;
}



a {
	text-decoration: none;
}
.cleaarfix{
	clear:both;
}
@media only screen and (max-width: 1280px){

	.right_main_content{
		height: 1600px;
	}

	.catalog_list{
		/*height: auto;*/
	}
	form input{
		margin: 0 auto;
	}
	form input{
		margin-left: 70px;
		margin-right: 0;
		width: 400px;
		margin-top:20px;
	}
	.go_find{
	/*	right: 103px;*/
		left: 814px;
	}

	.text_wrapper>p img{
		float: none;
		display: block;
		margin : 0 auto;
		/*width:70%;*/
	}


}
@media only screen and (max-width: 1000px){
	.cp_left_main_content{
		width: 240px;
	}
	.catalog_list_wrapper{
		width: auto;
	}
	.cp_right_main_content{
		width: calc(100% - 241px)
	}
	.catalog_list>ul>li{
		padding-right: 30px;
	}
	.catalog_list{
		height: auto;
	}
	form input{
		width:300px;

	}
	.go_find{
		left: 533px;
	}
}

@media only screen and (max-width: 760px){
	.cp_right_main_content{
		margin-top: -80px;
		display: block !important;
	}


}
@media only screen and (max-width: 700px){
	.cp_right_main_content{
		margin-top: 0px;
		overflow: hidden;
	}
	.cp_left_main_content{
		display: none;
	}
	.cp_right_main_content{
		width: calc(100% - 1px);
	}
	.go_find{
		left: 293px;
	}


}

@media only screen and (max-width: 600px){
	.flower_man_pic{
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 40px;
	}
}



@media only screen and (max-width: 500px){
	#third_description
	{
		margin-top:20px;
	}
}






/*  it's special for header mobile < 480  */
@media only screen and (max-width: 480px){
	.phone_number{
		top:80px;
		left: -240px;
		width: 100%;
	}

	#question_icon{
		top: -80px;
		left: auto;
		right: 0;
	}
	#menu_selector{
		left:auto;
		right: 80px;
	}
	#logo{
		position: absolute;
		width: calc(100% - 160px);
	}
	.column_list{
		float: right;
	}

	.header{
		min-width: 320px;
	}
	#container{
		min-width: 320px;
	}
	#second_column{
		width:100% !important;
		left: -160px;
		top:80px;
	}
	#third_column{
		width:100% !important;
		left: -160px;
		top:80px;
	}




}

@media only screen and (max-width: 400px){
	.column_list{
		left: 0;
	}
	.header_price_icon{
		top:80px;
	}
	#header {
		min-width: 320px;
	}
	.main_content{
		min-width: 320px;
	}

	form input{
		margin-left:20px;
	}



}





/*
.hidden_menu{
	left:-720px;
}
#sandwich{
	opacity: 1;
}
#menu_selector>img{
	opacity: 0;
	display: none;
}

:focus {

	outline: none;

}
.main_content{
	max-width: 1920px;
}

.cp_left_main_content{
	width: 365px;
	float: left
}
.cp_right_main_content{
	width: calc(100% - 366px);
	float: left;
	position: relative;
	border-left:1px solid #f1ecea;
	border-top:1px solid #f1ecea;

}
.catalog_list_wrapper{
	width: 358px;
	overflow-x: hidden;
}
.catalog_list{
	height: 700px;
	width:calc(100% + 17px);
	overflow-y: scroll;
}

.catalog_list>ul
{
	margin:0 ;
	padding: 0;

}
.catalog_list>ul>li{
	list-style:none;
	margin:0;
	text-align: right;
	padding-right: 60px;
	line-height: 60px;
	cursor: pointer;
}
.catalog_list>ul>li>a{
	text-decoration: none;
	border-bottom: 1px dotted #b54e74;
	color: #b54e74;
	font: 20px/60px arial,sans-serif;
	font-family: 'Roboto Regular', arial
}
#points {
	margin-top: -30px;
}

.clearfix{
	clear: both;
}

.text_wrapper{
	padding:60px;
}
.text_wrapper h1{
	margin: 0;
	font-size: 30px;
	font-family: Roboto Light;
	text-transform: uppercase;
	color: #242424;
	font-weight: 200;
	margin-bottom: 50px;

}
.text_wrapper h2{
	font: italic  26px/26px arial,sans-serif;
	font-family: 'PT Serif', arial;
	font-weight: 200;
	margin: 0;
	color: #715254;
	margin-bottom: 15px;
}
.vawe1 {
	background: url(../../images/eflora/vawe_line.png);
	background-repeat: no-repeat;
	height: 40px;
	margin-left:0px;

}
.text_wrapper  img{
	float:left; /!* Выравнивание по левому краю *!/
	margin-right: 15px;
}
.text_wrapper h3{
	margin:0;
	color: #242424;
	font-family: Roboto Regular;
	font-size: 18px;
	font-weight: 200;
}
.text_wrapper a {
	text-decoration: none;
	color:#242424;
}

.text_wrapper p{
	color: #686666;
	font-family: Roboto Light;
	font-size: 14px;
	line-height: 20px;
}
.text_wrapper h4{
	font-family: Roboto Regular;
	font-size: 18px;
	color: #242424;
	margin-top:60px;
	margin-bottom: 35px;
	font-weight: 200;
}
.text_wrapper ol{
	margin:0;
	padding:0;
	margin-left: 20px;

}

.text_wrapper>ol>li{
	color: #b54e74;
	font-style: 14px;
	font-family: Roboto Regular;
	margin-bottom: 25px;
}
.text_wrapper>ol>li>span{
	color: #686666;
	font-weight: 200;

}
table{
	display: block;
	border-collapse: collapse;
	max-width:1400px;

}

th{
	font-family: Roboto Regular;
	font-size: 15px;
	color: #686666;
	text-align: left;
	padding-right: 0px;
	min-width: 200px;
	line-height: 60px;
	border-bottom: 1px solid #a7a7a7;
}
td{
	line-height: 60px;
	border-bottom: 1px dotted #a7a7a7;
	color: #686666;
	font-size:15px;
	font-family: Roboto Light;

}
.table_wrapper{
	overflow-y: hidden;
	height: 395px;

}

@media only screen and (max-width: 1280px){

	.right_main_content{
		height: 1600px;
	}

	.catalog_list{
		height: auto;
	}

}
@media only screen and (max-width: 1000px){
	.cp_left_main_content{
		width: 240px;
	}
	.catalog_list_wrapper{
		width: auto;
	}
	.cp_right_main_content{
		width: calc(100% - 241px)
	}
	.catalog_list>ul>li{
		padding-right: 30px;
	}
	.catalog_list{
		height: auto;
	}
}

@media only screen and (max-width: 760px){
	.cp_right_main_content{
		margin-top: -80px;
		display: block !important;
	}


}
@media only screen and (max-width: 700px){
	.cp_right_main_content{
		margin-top: 0px;
		overflow: hidden;
	}
	.cp_left_main_content{
		display: none;
	}
	.cp_right_main_content{
		width: calc(100% - 1px);
	}


}

@media only screen and (max-width: 600px){
	.flower_man_pic{
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 40px;
	}
}



@media only screen and (max-width: 500px){
	#third_description
	{
		margin-top:20px;
	}
}






/!*  it's special for header mobile < 480  *!/
@media only screen and (max-width: 480px){
	.phone_number{
		top:80px;
		left: -240px;
		width: 100%;
	}

	#question_icon{
		top: -80px;
		left: auto;
		right: 0;
	}
	#menu_selector{
		left:auto;
		right: 80px;
	}
	#logo{
		position: absolute;
		width: calc(100% - 160px);
	}
	.column_list{
		float: right;
	}

	.header{
		min-width: 320px;
	}
	#container{
		min-width: 320px;
	}
	#second_column{
		width:100% !important;
		left: -160px;
		top:80px;
	}
	#third_column{
		width:100% !important;
		left: -160px;
		top:80px;
	}

}

@media only screen and (max-width: 400px){
	.column_list{
		left: 0;
	}
	.header_price_icon{
		top:80px;
	}
	#header {
		min-width: 320px;
	}
	.main_content{
		min-width: 320px;
	}

}
.action {
	margin-bottom: 50px;
}*/
