.page_title{
	float: right;
font: bold 20px/76px Verdana, Tahoma, Arial;
height: 60px;
width: 100%;
text-transform: uppercase;
	}
	
.block_title{
	float: right;
	font: bold 24px/40px Verdana, Tahoma, Arial;
	height: 40px;
	width: 100%;
}

.block_title_mini{
	margin-top:10px;
	float: right;
	font: bold 18px/30px Verdana, Tahoma, Arial;
	height: 30px;
	width: 100%;
}