@import url("common/reset.css") screen;

@import url("content/blocks855.css") screen;
@import url("content/breadcrumbs.css") screen;
@import url("content/page_title.css") screen;
@import url("content/pager.css") screen;
@import url("content/stat.css") screen;
@import url("content/system_messages.css") screen;

@import url("control/buttons.css") screen;
@import url("control/filter.css") screen;
@import url("control/forms.css") screen;
@import url("control/left_button.css") screen;
@import url("control/select_custom.css") screen;
@import url("control/modal_forms.css") screen;

@import url("layouts/center.css") screen;
@import url("layouts/common.css") screen;
@import url("layouts/content.css") screen;
@import url("layouts/footer.css") screen;
@import url("layouts/header.css") screen;
@import url("layouts/left_menu.css") screen;
@import url("layouts/left_sidebar.css") screen;
@import url("layouts/middle.css") screen;
@import url("layouts/top_menu.css") screen;
@import url("layouts/wrapper.css") screen;
@import url("layouts/modal.css") screen;


@import url("member/exit.css") screen;
@import url("member/logo.css") screen;
@import url("member/page_product.css") screen;


.ui-datepicker-trigger {
    position: relative;
    margin-left: -30px;
    top: 7px;
    cursor: pointer;
}
.ui-tabs {
    position:relative;
    zoom:1;
    padding:.2em;
    background: none !important;
    border: none !important;
}